<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/restaurant" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img src="https://knoweats.com/cdn/shop/files/logo-knoweats-white.png?v=1689813969&width=500" class="h-8" alt="Flowbite Logo" />    
        </a>
        <p class="my-6 text-gray-500 dark:text-gray-400">Cadena alimentaria que t'envia el millor menjar a la teva taula.</p>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024-2025 <a href="#" class="hover:underline">knoweats!</a>. All Rights Reserved.</span>
    </div>
  </footer>